<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${studentinfo.nickname} + ' | 이과외'"></title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style/detail-student.css" />
  </head>
  <body>

    <nav th:replace="fragments/nav-login :: nav"><!-- thymeleaf header will be inserted here. --></nav>
    
    <div class="container">
      <div class="student-profile">
        <img th:if="${not #strings. isEmpty(studentinfo.picture)}" th:src="${'/picture/custom/' + studentinfo.picture}" alt="picture" width="32" height="32">
        <img th:if="${#strings. isEmpty(studentinfo.picture)}" th:src="${'/picture/' + 'profile.png'}" alt="picture" width="32" height="32">
        <div class="student-profile-right">
          <div class="student-profile-nickname" th:text="${studentinfo.nickname}"></div>
          <div class="student-profile-info">
            <div class="student-profile-studentgrade">
              <img src="/static/images/ic_sm_study.png" alt="">
              <div class="studentgrade-text1">학년 : </div>
              <div class="studentgrade-text2" th:text="${studentinfo.student_student_grade}"></div>
            </div>
            <div class="student-profile-subject">
              <img src="/static/images/ic_sm_class.png" alt="">
              <div class="subject-text1">희망 과목 : </div>
              <div class="subject-text2" th:text="${studentinfo.student_subject}"></div>
            </div>
            <div class="student-profile-availableremote">
              <img src="/static/images/ic_sm_class.png" alt="">
              <div class="availableremote-text1">원격수업 희망여부 : </div>
              <div class="availableremote-text2" th:text="${studentinfo.student_available_remote}"></div>
            </div>
            <div class="student-profile-price">
              <img src="/static/images/ic_sm_class.png" alt="">
              <div class="price-text1">희망 월 수업료 : </div>
              <div class="price-text2" th:text="${studentinfo.student_price}"></div>
            </div>
            <div class="student-profile-location">
              <img src="/static/images/ic_sm_location.png" alt="">
              <div class="location-text1">과외가능 지역 : </div>
              <div class="location-text2" th:text="${studentinfo.address_part1 + ', ' + studentinfo.address_part2}"></div>
            </div>
            <div class="student-btns">
              <div style="margin-right:12px" th:text="${'전화번호 : ' + studentinfo.student_phonenum}"></div>
              <button class="w-40 btn btn-sm btn-secondary addMatchingList" type="button">성사리스트 등록</button>
            </div>
          </div>
        </div>
      </div>
      <div class="student-detail">
        <div class="student-detail-element">
          <div class="student-detail-title">과외가능 요일/시간</div>
			<p th:text="${studentinfo.student_available_time}"></p>
          <hr/>
        </div>
        <div class="student-detail-element">
          <div class="student-detail-title">성별</div>
          	<p th:text="${studentinfo.gender}"></p>
          <hr/>
        </div>
        <div class="student-detail-element">
          <div class="student-detail-title">나이</div>
			<p th:text="${studentinfo.age}"></p>
          <hr/>
        </div>
        <div class="student-detail-element">
          <div class="student-detail-title">과외선생님께 바라는 것</div>
          <textarea th:text="${studentinfo.student_request}" class="form-control" id="exampleFormControlTextarea1" rows="5" style="background-color: transparent; font-size: 13px; height: 400px;" readonly>과외선생님께 바라는 것</textarea>
          <hr/>
        </div>
        <div class="student-detail-element">
          <div class="student-detail-title">가입일</div>
            <p th:text="${#temporals.format(studentinfo.createdate, 'yyyy-MM-dd') }"></p>
            <hr/>
            <button class="w-100 btn btn-lg btn-secondary btnGoBack" type="button">돌아가기</button>
        </div>
      </div>
    </div>

    <footer th:replace="fragments/footer :: footer"><!-- thymeleaf header will be inserted here. --></footer>
	
    <script src='/static/js/bootstrap.min.js'></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
	    let studentName = /*[[ ${studentinfo.username} ]]*/ '0';
	    let teacherName = /*[[ ${teacherName} ]]*/ '0';
    /*]]*/
	</script>
    <script src='/static/js/auth/detail/detail-student.js'></script>
  </body>
</html>
