<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>선생님 회원정보수정 | 이과외</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../static/css/style/modify-teacher.css" />
  </head>
  <body>

    <nav th:replace="fragments/nav-login :: nav"><!-- thymeleaf header will be inserted here. --></nav>

    
    <div class="container">


      <!-- 이과외는 많은 분께 신뢰받고 있습니다 -->
      <div class="form-modify-teacher">
        <div class="form-modify-intro1">
          이과외는 많은 분께 신뢰받고 있습니다.
        </div>
        <div class="form-modify-intro2">
          학생 이용 압도적 1위, 선생님 풀 압도적 1위 과외 플랫폼입니다.
        </div>
        <div class="form-modify-intro3">
          <div class="form-modify-intro3-teacher">
            <img src="../../../static/images/join/tutor.png" alt="tutor">
            <div class="form-modify-intro3-population">
              <th:block th:text="${count_teacher}"></th:block>명 <!-- countUserCommonByRole 를 통한 조회 -->
            </div>
            <div class="form-modify-intro3-description">
              선생님 회원
            </div>
          </div>
          <div class="form-modify-intro3-teacher">
            <img src="../../../static/images/join/tutee.png" alt="tutee">
            <div class="form-modify-intro3-population">
              <th:block th:text="${count_student}"></th:block>명 <!-- countUserCommonByRole 를 통한 조회 -->
            </div>
            <div class="form-modify-intro3-description">
              학생 회원
            </div>
          </div>
          <div class="form-modify-intro3-satisfaction">
            <img src="../../../static/images/join/satisfaction.png" alt="satisfaction">
            <div class="form-modify-intro3-population">
              99.9%
            </div>
            <div class="form-modify-intro3-description">
              고객만족도
            </div>
          </div>
        </div>
      </div>

      <!-- 프로필 사진 바꾸기 -->
      <div class="form-modify-teacher">
        <form action="" enctype="multipart/form-data">
          <div class="form-modify-teacher-picture">
            <img class="profile-img-url" alt="teacher_picture">
          </div>
          <div class="form-modify-teacher-picturechange">
            프로필 사진 바꾸기
            <input type="file" class="file-input" name="file">
          </div>
        </form>
      </div>

      <!-- 비밀번호를 입력해주세요. -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          비밀번호
            <div class="form-check">
		      <input class="form-check-input" onclick='PasswordModifying(event)' type="checkbox">
		      <label class="form-check-label" >수정하려면 체크하기</label>
		    </div>
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *8~16자 내로 작성, 바꿀 새 비밀번호는 현재 비밀번호와 다르게 설정하여야 합니다.
        </div>
        <div class="form-modify-teacher-password">
          <input type="password" maxlength='16' class="form-control inputOldPassword" style="margin-right: 20px;" placeholder="현재 비밀번호" disabled="disabled">
          <input type="password" maxlength='16' class="form-control inputNewPassword" style="margin-right: 20px;" placeholder="새 비밀번호" disabled="disabled">
          <input type="password" maxlength='16' class="form-control inputNewPasswordAgain" placeholder="새 비밀번호 확인" disabled="disabled">
        </div>
      </div>

      <!-- 표시할 닉네임을 입력해주세요. -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          닉네임
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *3~10자 내로 작성
        </div>
          <input type="text" maxlength='10' class="form-control inputNickname">
      </div>
      
      <!-- 이메일을 입력해주세요. -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          이메일
        </div>
          <input type="email" class="form-control inputEmail" placeholder="qwer1234@email.com">
      </div>

      <!-- 화상과외(온라인과외) 가능여부 -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          화상과외(온라인과외) 가능여부
        </div>
        <div class="form-check">
          <input class="form-check-input" name="radioAvailableRemote" type="radio" value="가능" onclick="getRadioAvailableRemoteValue(event)" id="radio-teacher-remote">
          <label class="form-check-label" for="radio-teacher-remote">
            가능
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" name="radioAvailableRemote" type="radio" value="불가" onclick="getRadioAvailableRemoteValue(event)" id="radio-teacher-notremote">
          <label class="form-check-label" for="radio-teacher-notremote">
            불가능
          </label>
        </div>
      </div>
      
      <!-- 시범과외 가능여부 -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          시범과외 가능여부
        </div>
        <div class="form-check">
          <input class="form-check-input" name="radioAvailableDemonstration" type="radio" value="유료" onclick="getRadioAvailableDemonstrationValue(event)" id="radio-teacher-nofreedemo">
          <label class="form-check-label" for="radio-teacher-nofreedemo">
            유료
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" name="radioAvailableDemonstration" type="radio" value="무료" onclick="getRadioAvailableDemonstrationValue(event)" id="radio-teacher-freedemo">
          <label class="form-check-label" for="radio-teacher-freedemo">
            무료
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" name="radioAvailableDemonstration" type="radio" value="불가능" onclick="getRadioAvailableDemonstrationValue(event)" id="radio-teacher-nodemo">
          <label class="form-check-label" for="radio-teacher-nodemo">
            불가능
          </label>
        </div>
      </div>
      
       <!-- 과외를 진행할 주소를 알려주세요 -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          주소
        </div>
        <div class="form-modify-teacher-address">
          <select class="form-select selectTeacherAddr1" onchange="getSelectTeacherAddr1Value()" aria-label="Default select example" style="margin-right: 20px;">
            <option value="" selected>시 선택</option>
            <option th:each="a1, a1stat : ${addressPart1List}" th:text="${a1}" th:value="${a1}"></option>
          </select>
          <select class="form-select selectTeacherAddr2" onchange="getSelectTeacherAddr2Value()" aria-label="Default select example">
			<option value="" selected>구 선택</option>
          </select>
        </div>
      </div>

      <!-- 선생님의 성별을 알려주세요 -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          성별
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" onclick="getRadioGenderValue(event)" name="radioGender" value="남자" id="radio-teacher-male">
          <label class="form-check-label" for="radio-teacher-male">
            남자
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" onclick="getRadioGenderValue(event)" name="radioGender" value="여자" id="radio-teacher-female">
          <label class="form-check-label" for="radio-teacher-female">
            여자
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" onclick="getRadioGenderValue(event)" name="radioGender" value="기타" id="radio-teacher-thirdgender">
          <label class="form-check-label" for="radio-teacher-thirdgender">
            기타(제 3의 성 등)
          </label>
        </div>
      </div>

      <!-- 선생님의 나이는 무엇인가요? -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          나이 범위
        </div>
        <select class="form-select selectTeacherAge" onchange="getSelectTeacherAgeValue()" aria-label="Default select example">
          <option value="" selected>선택하세요</option>
          <option value="10이하">10이하</option>
          <option value="11~15">11~15</option>
          <option value="16~20">16~20</option>
          <option value="21~25">21~25</option>
          <option value="26~30">26~30</option>
          <option value="31~35">31~35</option>
          <option value="36~40">36~40</option>
          <option value="41~45">41~45</option>
          <option value="46~50">46~50</option>
          <option value="51이상">51이상</option>
        </select>
      </div>



      <!-- 선생님의 성격은 어떠한가요? -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          성격
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *2개까지 체크 가능
        </div>
        <div class="row row-cols-4">
        <!-- getPersonalityNameListAll 호출되어 반복문을 통해 출력 -->
          <div th:each="p : ${personalityNameList}" class="col">
            <div class="form-check">
              <input class="form-check-input" name="checkboxPersonality" type="checkbox" th:value="${p}" onclick='getSelectPersonalityValue(event)'>
              <label th:text="${p}" class="form-check-label"></label>
            </div>
          </div>
        </div>
      </div>

       <!-- 받을 수업료 -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          받을 수업료
        </div>
        <select class="form-select selectTeacherPrice" onchange="getSelectTeacherPriceValue()" aria-label="Default select example">
          <option selected>선택해주세요</option>
          <option value="70만원이상">70만원이상</option>
          <option value="60만원~69만원">60만원~69만원</option>
          <option value="50만원~59만원">50만원~59만원</option>
          <option value="40만원~49만원">40만원~49만원</option>
          <option value="30만원~39만원">30만원~39만원</option>
          <option value="20만원~29만원">20만원~29만원</option>
          <option value="10만원~19만원">10만원~19만원</option>
          <option value="10만원미만">10만원 미만</option>
        </select>
      </div>

      <!-- 자세한 수업료 기준은 어떻게 되나요? -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          자세한 수업료 기준
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *30~300자 내로 작성
        </div>
        <div class="mb-3">
          <textarea class="form-control inputDetailPrice" maxlength='300' placeholder="예)고3 / 수학 : 시간당 30000원, 영어: 시간당 25000원 (300자 내)" rows="10"></textarea>
        </div>
      </div>
      
       <!-- 어떤 과목을 과외받길 원하시나요? -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          담당 과목
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *5개까지 체크 가능
        </div>
        <div class="form-modify-teacher-checklist">
        <!-- getSubjectCategoryListAll 호출되어 반복문을 통해 출력 -->
          <div th:each="s1,s1stat : ${subjectCategoryList}" class="form-modify-teacher-checklist-categorypart">
            <p th:text="${s1}"></p>
            <div class="row row-cols-5">
            <!-- getSubjectNameListBySubjectCategory 호출되어 반복문을 통해 출력, 인덱스는 s1stat.index로 변수를 제공 -->
                <div th:each="s3 : ${subjectNameList[s1stat.index]}" class="col">
              		<div class="form-check">
	                  <input type="checkbox" name="checkboxSubject" class="form-check-input" th:value="${s3}" onclick='getSelectSubjectValue(event)'>
	                  <label th:text="${s3}" class="form-check-label"></label>
              	</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 선생님의 출신 대학교는 어디인가요? -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          출신 대학교
            <div class="form-check">
	          <input class="form-check-input checkboxNoUniversity" onclick='NoUniversity(event)' type="checkbox">
	          <label class="form-check-label" >출신대학교 없음</label>
	        </div>
        </div>

        <select class="form-select selectUniversity" onchange="getSelectUniversityValue()" size="7" aria-label="size 7 select example">
       	  <option value="0" selected>선택해주세요</option>
          <option th:each="u : ${universityList}" 
          th:text="${u.university_name + ' (' + u.university_type + ', ' + u.university_addr1 + ' ' + u.university_addr2 + ', ' + u.university_campus + ')'}" 
          th:value="${u.university_code}"></option>
        </select>
      </div>

      <!-- 선생님의 전공 학과는 무엇인가요? -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          전공 학과
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *4~20자 내로 작성
        </div>
          <input type="text" maxlength="20" class="form-control inputUniversityMajor" placeholder="예)수학교육과">
      </div>

      <!-- 선생님의 학번은 무엇인가요? -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          학번
        </div>
        <select class="form-select selectUniversityStudentnum" onchange="getSelectUniversityStudentnumValue()" aria-label="Default select example">
          <option value="" selected>선택해주세요</option>
          <option value="22학번 이하">22학번 이하</option>
          <option value="21학번">21학번</option>
          <option value="20학번">20학번</option>
          <option value="19학번">19학번</option>
          <option value="18학번">18학번</option>
          <option value="17학번">17학번</option>
          <option value="16학번">16학번</option>
          <option value="15학번">15학번</option>
          <option value="14학번">14학번</option>
          <option value="13학번">13학번</option>
          <option value="12학번">12학번</option>
          <option value="11학번">11학번</option>
          <option value="10학번">10학번</option>
          <option value="09학번">09학번</option>
          <option value="08학번">08학번</option>
          <option value="07학번">07학번</option>
          <option value="06학번">06학번</option>
          <option value="05학번">05학번</option>
          <option value="04학번">04학번 이상</option>
        </select>
      </div>
      
      <!-- 대학 졸업여부 -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          대학 졸업여부
        </div>
        <select class="form-select selectUniversityIsgraduate" onchange="getSelectUniversityIsgraduateValue()" aria-label="Default select example">
          <option value="" selected>선택해주세요</option>
          <option value="재학중">재학중</option>
          <option value="휴학중">휴학중</option>
          <option value="졸업">졸업</option>
          <option value="중퇴">중퇴</option>
        </select>
      </div>

      <!-- 한줄소개 -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          한줄소개 (생략가능)
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *50자 내로 작성
        </div>
          <input type="text" maxlength="50" class="form-control inputIntroduction" placeholder="예) 강한수학 고대여신 데굴데굴">
      </div>

      <!-- 과외 가능 요일/시간을 작성해주세요. -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          과외 가능 요일/시간
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *10~100자 내로 작성
        </div>
          <input type="text" maxlength='100' class="form-control inputAvailableTime" placeholder="예) 월수금 18~22시, 주말가능/협의가능">
      </div>

      <!-- 과목별 수업내용 -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          과목별 수업내용
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *100~300자 내로 작성
        </div>
        <div class="mb-3">
          <textarea class="form-control inputTeachingDetail" maxlength="300" placeholder="예)국어:문학 해석법/비문학 독해법, 화작문강의 영어:수능 영문법 기초~심화 까지 진행 (100자~300자 내)" rows="10"></textarea>
        </div>
      </div>

      <!-- 과외 스타일 -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          과외 스타일
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *50~300자 내로 작성
        </div>
        <div class="mb-3">
          <textarea class="form-control inputTeachingStyle" maxlength="300" placeholder="예)개념 설명 자세하게 적어서 해주고, 응용문제 풀이 잘함. 못알아들어도 화 안냄. (50자~300자 내)" rows="10"></textarea>
        </div>
      </div>

      <!-- 휴대폰 번호 인증을 해주세요 -->
      <div class="form-modify-teacher">
        <div class="form-modify-teacher-question">
          휴대폰 번호
            <div class="form-check">
		      <input class="form-check-input" onclick='PhonenumModifying(event)' type="checkbox">
		      <label class="form-check-label" >수정하려면 체크하기</label>
		    </div>
        </div>
        <div class="form-modify-teacher-furtherexplanation">
          *연락처는 학생분들에게 선공개되지 않습니다. 가입 및 인증 용도입니다.
        </div>
        <div class="input-group">
          <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control inputPhonenum1" aria-label="Text input with segmented dropdown button" placeholder="예)01012345678" disabled="disabled">
          <button type="button" class="btn btn-outline-secondary btnPhoneNumCheck1" disabled="disabled">인증번호 요청</button>
          <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control inputPhonenum2" aria-label="Text input with segmented dropdown button" placeholder="인증번호 입력" disabled="disabled">
          <button type="button" class="btn btn-outline-secondary btnPhoneNumCheck2" disabled="disabled">인증완료</button>
        </div>
      </div>

            <!-- 정보수정 버튼 -->
      <div class="okOrCancel">
      	<button class="w-100 btn btn-lg btn-secondary btnTeacherModifyCancel" type="button" style="margin-top:30px; margin-right:30px;">취소</button>
      	<button class="w-100 btn btn-lg btn-secondary btnTeacherModifyComplete" type="button" style="margin-top:30px; margin-right:30px;">회원정보 수정하기</button>
      	<button class="w-100 btn btn-lg btn-danger btnTeacherDelete" type="button" style="margin-top:30px;">회원탈퇴</button>
      </div>
      
    </div>

    <footer th:replace="fragments/footer :: footer"><!-- thymeleaf header will be inserted here. --></footer>

    <script src='../../../static/js/bootstrap.min.js'></script>
    <script src='../../../static/js/auth/principal.js'></script>
    <script src='../../../static/js/auth/promiseRequest.js'></script>
    <script src='../../../static/js/auth/arrayToString.js'></script>
    <script src='../../../static/js/auth/modify/modify-teacher.js'></script>
  </body>
</html>
