.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-addressandbtns {
    margin-top: 50px;
    width: 700px;
    height: 100%;
    border: 1px solid lightgray;
    border-top: 2px solid grey;
}

.form-address {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
}

.form-btns {
	display:flex;
    padding: 0px 20px 20px;
}

.form-addressandbtns .form-select {
    margin: 20px 10px;
}

.form-review-element {
    margin-top: 50px;
    width: 700px;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    border-top: 2px solid grey;
    display: flex;
    flex-direction: column;
}

/* part1 : 선생님 프로필 */
.form-review-part1 {
    width: 100%;
    height: 30%;
    border: 1px solid lightgrey;
    margin-bottom: 20px;
    background-color: azure;
    display: flex;
}

.form-review-part1 img {
    width: 140px;
    height: 140px;
    margin: 10px;
}

.form-review-part1-info {
    margin: 15px 10px 10px 10px;
}
.form-review-part1-name {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
}
.form-review-part1-teacherproperties {
    display: flex;
    flex-direction: column;
}
.form-review-part1-teacherproperties img {
    width: 20px;
    height: 20px;
    margin: 2px;
}
.form-review-part1-teacherproperties-element {
    height: 28px;
    display: flex;
}


.form-review-part2 {
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
    display: flex;
}

/* part2-1 : 학생 위치 및 수업시작, 월 수업료 */
.form-review-part2-1 {
    width: 40%;
    height: 162px;
    border: 1px solid lightgrey;
    margin-right: 20px;
    background-color:cornsilk;
    padding: 14px;
}
.form-review-part2-1-top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-review-part2-1-studentinfo {
    width:180px;
    font-size: 13px;
}
.form-review-part2-1-studentinfo p{
    width:170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.form-review-part2-1-top img {
    width: 36px;
    height: 36px;
    border-radius:50%;
}
.form-review-part2-1-top p {
    margin: 2px 0 0 8px;
}
.form-review-part2-1-bottom {
    display: flex;
}

.form-review-part2-1-left {
    width: 100%;
    height: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    margin-right: 20px;
    font-size:14px;
}
.form-review-part2-1-right {
    width: 100%;
    height: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    font-size:14px;
}
.form-review-part2-1-right p {
	width:100px;
}


/* part2-2 : 평점 */
.form-review-part2-2 {
    width: 60%;
    height: 100%;
    background-color:cornsilk;
    border: 1px solid lightgrey;
    display: flex;
}

.form-review-part2-2-half {
    width: 50%;
    height: 100%;
}

.form-review-part2-2-element {
    width: 100%;
    height: 50%;
    padding: 10px;
}

.form-review-part2-2-rate {
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.form-review-part2-2-stars img {
    width: 20px;
    height: 20px;
    margin-right:3px;
}
.form-review-part2-2-number {
	font-size:18px;
	margin-bottom:3px;
}


/* part3 : 내용 */
.form-review-part3 {
    width: 100%;
    height: 30%;
    border: 1px solid lightgrey;
    margin-bottom: 20px;
    background-color: aliceblue;
}

.form-review-part3-date {
    padding-top: 8px;
    padding-right: 8px;
    font-size: 12px;
    text-align: right;
}

.form-review-part3 textarea {
    resize: none;
    border: none;
    font-size: 14px;
    background-color: none;
}

/* part4 : 이 선생님 프로필 보러가기 버튼 */
.form-review-part4 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}
