<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
  <div class="container-xl">
    <a class="navbar-brand" href="#">이과외</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li th:if="${role.equals('USER_TEACHER')}" class="nav-item">
          <a class="nav-link" href="/auth/search/student">학생분 찾기</a>
        </li>
        <li th:if="${role.equals('USER_STUDENT')}" class="nav-item">
          <a class="nav-link" href="/auth/search/teacher">선생님 찾기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">후기게시판</a>
        </li>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img th:if="${not #strings. isEmpty(picture)}" th:src="${'/picture/custom/' + picture}" alt="picture" width="32" height="32" class="rounded-circle">
            <img th:if="${#strings. isEmpty(picture)}" th:src="${'/picture/' + 'profile.png'}" alt="picture" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">성사리스트</a></li>
            <li><a class="dropdown-item" href="/auth/modify">회원정보 수정</a></li>
            <hr/>
            <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>